<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script>
        (function (d) {
            var config = {
                kitId: 'jxm2dcd',
                scriptTimeout: 3000,
                async: false
            },
                h = d.documentElement, t = setTimeout(function () { h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive"; }, config.scriptTimeout), tk = d.createElement("script"), f = false, s = d.getElementsByTagName("script")[0], a; h.className += " wf-loading"; tk.src = 'https://use.typekit.net/' + config.kitId + '.js'; tk.async = true; tk.onload = tk.onreadystatechange = function () { a = this.readyState; if (f || a && a != "complete" && a != "loaded") return; f = true; clearTimeout(t); try { Typekit.load(config) } catch (e) { } }; s.parentNode.insertBefore(tk, s)
        })(document);
    </script>
    <link rel="stylesheet" href="./dist/site.bundle.css">
</head>

<body>
    <div id="app">
        <div class="page__wrapper" v-if="questions">
            <section class="questions">
                <div class="row gutters">
                    <div class="col col-9 questions__column">
                        <transition-group name="fade" tag="div">
                            <div v-for="(questionData, index) in reverseItems" class="question__wrap" :data-index="index" :key="index" v-show="index === questionIndex">
                                <div class="question">
                                    <div class="row">
                                        <div class="col col-12">
                                            <div class="question__index upper">Question {{index+1}} of {{questions.length}}</div>
                                            <h1 class="title upper" v-html="questionData.acf.question.question_text"></h1>
                                            <p class="select__all__text small">Select all that apply.</p>
                                        </div>
                                    </div>
                                    <div class="row auto gutters">
                                        <div class="col" v-for="(answerData, index) in questionData.acf.question.answers">
                                            <div class="answer text-center" v-on:click.once="optionSelected" :data-answer="answerData.answer.answer_text" :data-weight="questionData.acf.question.question_weight"
                                                :data-id="index">
                                                <span class="button__text">{{answerData.answer.answer_text}}</span>
                                                <span class="checkmark"></span>
                                                <span class="round"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </transition-group>
                    </div>
                    <div class="col col-3">
                        <p class="suggested__lubricants small">Suggested Shell Lubricants:</p>
                        <div v-for="(productData, index) in products">
                            <div class="product" :data-name="productData.title.rendered">
                                <span>{{productData.title.rendered}}</span>
                            </div>
                        </div>
                        <section class="buttons">
                            <div class="row auto gutters between">
                                <div class="col">
                                    <button class="prev quiz__button" v-if="questionIndex > 0 && questionIndex !== questions.length" v-on:click="prev">
                                        <span>previous</span>
                                    </button>
                                </div>
                                <div class="col">
                                    <button class="next quiz__button" v-bind:class="[questionIndex > 0 ? 'align__right' : '']" v-if="questionIndex !== questions.length"
                                        v-on:click="next">
                                        <span>next</span>
                                    </button>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </section>
            <section class="quiz__completed" v-show="questionIndex === questions.length">
                Quiz Completed.
            </section>
        </div>
    </div>
    <script src="./dist/bundle.min.js"></script>
</body>

</html>