@font-face {
    font-family: 'futura_mediumregular';
    src: url('fu______-webfont.woff2') format('woff2'),
         url('fu______-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'futura_boldregular';
    src: url('fub_____-webfont.woff2') format('woff2'),
         url('fub_____-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}