@font-face {
    font-family: 'futura_mediumregular';
    src: url('fu______-webfont.woff2') format('woff2'),
         url('fu______-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'futura_boldregular';
    src: url('fub_____-webfont.woff2') format('woff2'),
         url('fub_____-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'futura_bookboldoblique';
    src: url('fubo____-webfont.woff2') format('woff2'),
         url('fubo____-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'futura_mediumheavy';
    src: url('fuh_____-webfont.woff2') format('woff2'),
         url('fuh_____-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'futura_mediumheavyoblique';
    src: url('fuho____-webfont.woff2') format('woff2'),
         url('fuho____-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'futura_lightregular';
    src: url('ful_____-webfont.woff2') format('woff2'),
         url('ful_____-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'futura_mediumoblique';
    src: url('fuo_____-webfont.woff2') format('woff2'),
         url('fuo_____-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}