@import "../fonts/fonts.scss";
@import "kube.scss";
@import "~splitting";

// ____Layout

.page__wrapper {
  max-width: 75rem;
  margin: 0 auto;
  padding: 5rem 0;
}

.question {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.question .row {
  margin-top: auto;
}

.questions__column > div {
  position: relative;
  height: 100%;
}

.question__wrap {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.question {
  height: 100%;
}

// ____Typography

h1.title {
 font-size: $heading-font-size-title;
 font-family: $future-bold;
}

.select__all__text {
  color: $color-red;
}

// ___Questions

.question__index {
  color: $color-yellow;
  margin-bottom: 2rem;
}

// ___Answers

.answers {
  margin-top: auto;
}

.answer__wrap {
  display: inline-block;
  margin-right: 1rem;
  position: relative;
}

.answer {
  font-family: 'futura_mediumregular';
  border: 1px solid $color-red;
  padding: 10px 20px;
  color: $color-red;
  margin-bottom: 20px;
  font-size: 14px;
  cursor: pointer;
  position: relative;
}

.button__text {
  position: relative;
  z-index: 2;
  transition: all 0.1s ease-in;
  display: inline-block;
}

.answer,
.round {
  border-radius: 25px;
}

.round {
  position: absolute;
  width: 38px;
  height: 38px;
  background-color: $color-red;
  top: 0;
  bottom: 0;
  right: 3px;
  margin: auto;
  opacity: 0;
  transition: all 300ms ease-out;
}

.answer:hover {
  color: #ffffff;
}

.answer:hover .round {
  width: calc(100% - 6px);
  opacity: 1;
}

// __Checkmark - thanks! - https://codepen.io/lajlev/pen/diKbz

.checkmark,
.checkmark:after {
  width: 6px;
  height: 12px;
}

.checkmark {
  display: block;
  position: absolute;
  z-index: 3;
  top: 0;
  bottom: 2px;
  left: 15px;
  margin: auto;
  opacity: 0;
  transition: all 300ms ease-out;
  transition-delay: 250ms;
  transform: translateX(10px);
  &:after{
    /*Add another block-level blank space*/
    content: '';
    display: block;
 
    /*Add a white border on the bottom and left, creating that 'L' */
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
 
    /*Rotate the L 45 degrees to turn it into a checkmark*/
    transform: rotate(45deg);
  }
}

// __Answer.Active

.answer.active {
  .round {
    width: calc(100% - 6px);
    opacity: 1;
  }
  .checkmark {
    opacity: 1;
    transform: translateX(0);
  }
  .button__text {
    transform: translateX(8px);
    transition: all 0.3s ease-out;
    transition-delay: 325ms;
    color: #ffffff;
  }
}

// .answer.active:hover {
//   .button__text {
//     transform: translateX(0);
//   }
//   .checkmark {
//     opacity: 0;
//     transform: translateX(10px);
//   }
// }

// __Product Modal

.product {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px;
  position: relative;
  overflow: hidden;
  @include grid-row;
  align-items: center;
}

.product .col {
  position: relative;
  z-index: 2;
}

.product span {
  display: inline-block;
  position: relative;
  z-index: 2;
  opacity: 0.5;
  transition: 0.5s ease-in-out;
  top: 2px;
}

.product:before {
  position: absolute;
  content: '';
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $color-yellow;
  transition: 0.5s ease-in-out;
  transform: translateX(-100%);
}

.product.active span {
  opacity: 1;
  color: #fff;
}

.product.active:before {
  opacity: 1;
  transform: translateX(0);
}

.product__image {
  width: 30px;
}

// __Transitions

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to  {
  opacity: 0;
}

// __Buttons

.buttons {
  margin-top: 3rem;
}

button {
  width: 60px;
  height: 60px;
  margin: 20px 0;
  display: inline-block;
  position: relative;
  background: #AEB0B2;
  border-radius: 30px;
  transition: all 300ms ease-out;
}

button span {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  background: none;
  color: #AEB0B2;
  bottom: -30px;
  transition: all 300ms ease-out;
}

button:hover {
  background: $color-yellow;
}

button:hover span {
  color: $color-yellow;
}

button.next:before {
  transform: rotate(45deg);
  margin: -15px 0 0 -20px;
}

button.prev:before {
  transform: rotate(-135deg);
  margin: -15px 0 0 -10px;
  left: 45%;
}

button:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  top: 58%;
  left: 70%;
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px 2px 0 0;
  position: absolute;
  transform-origin: 50% 50%;
}

button.next:after {
  width: 30px;
  height: 0;
  border-width: 2px 0 0 0;
  transform: translate(-26px, -1px);
}

button.prev:after {
  width: 30px;
  height: 0;
  border-width: 2px 0 0 0;
  transform: translate(-14px, -1px);
  left: 51%;
}

button:after {
  content: '';
  display: block;
  top: 50%;
  left: 65%;
  border-style: solid;
  border-color: #ffffff;
  position: absolute;
  transform-origin: 50% 50%;
}

// __Quiz Completed

.recommended__product {
  padding: 80px;
  margin-bottom: 50px;
}

.recommended__product ul {
  list-style-type: none;
  margin-left: 0;
}

.recommended__product img {
  display: block;
  margin: 0 auto;
}

.recommended__product li {
  letter-spacing: 0.05rem;
  font-size: 1.2rem;
}

.recommended__product h5 {
  padding-bottom: 10px;
}

.recommended__product a {
  font-family: 'futura_mediumregular';
  border: 1px solid #EE3224;
  padding: 10px 20px;
  color: #EE3224;
  margin-bottom: 20px;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  border-radius: 25px;
  width: 180px;
  display: block;
  text-align: center;
  background-color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  margin: 25px auto;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12)
}

.recommended__product:nth-of-type(odd) h5 {
  border-bottom: 1px solid #ffffff;
}

.recommended__product:nth-of-type(odd) {
  background-color: $color-yellow;
}

.recommended__product:nth-of-type(odd),
.recommended__product:nth-of-type(odd) h1,
.recommended__product:nth-of-type(odd) h5 {
  color: #ffffff
}

.recommended__product:nth-of-type(odd) h1,
.results__title {
  text-shadow: rgba(0, 0, 0, 0.25) 1.05px 2.93109px 5.86219px;
}

.recommended__product:nth-of-type(even) {
  color: $color-red;
  background-color: #ffffff;
}

.recommended__product:nth-of-type(even),
.recommended__product:nth-of-type(even) h1,
.recommended__product:nth-of-type(even) h5 {
  color: $color-red;
}

.recommended__product:nth-of-type(even) h5 {
  border-bottom: 1px solid $color-red;
}

.recommended__product .row {
  align-items: center;
}

.results__title {
  border: none !important;
  padding: 0 !important;
}

// modal

.modal-box {
  max-width: 768px;
  margin: 0 auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
  opacity: 0;
  transform: translateY(300px);
  transition: 300ms transform ease-out, 300ms opacity ease-out 30ms;
}

.modal {
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  border: 1px solid rgba(0,0,0,0.12);
}

.modal-header {
  color: $color-red;
  font-family: 'futura_boldregular';
}

.modal-box.active {
  opacity: 1;
  z-index: 200;
  transform: translateY(250px);
}

.modal-body {
  padding: 36px 32px;
}

span.close {
  cursor: pointer;
}

// tooltips

.answer__tooltip {
  position: absolute;
  top: 0;
  left: 50%;
  padding: 0.8rem 1rem;
  border-radius: 3px;
  font-size: 0.8rem;
  opacity: 0;
  z-index: -1;
  transform: translate(-50%, -100%);
  transition: all 0.3s ease;
  width: 100%;
  text-align: center;
  background: #000;
  color: #fff;
}

.answer__tooltip:after {
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  content: "";
  border: solid;
  border-width: 10px 10px 0 10px;
  border-color: transparent;
  border-top-color: #000;
  transform: translate(-50%, 100%);
}

.answer__tooltip.active {
  opacity: 1;
  transform: translate(-50%, -150%);
  z-index: 5;
}