@import "../fonts/fonts.scss";
@import "kube.scss";

// ____Layout

.page__wrapper {
  max-width: 75rem;
  margin: 0 auto;
  padding: 5rem 0;
}

// ____Typography

h1.title {
 font-size: $heading-font-size-title;
 font-family: $future-bold;
}

.select__all__text {
  color: $color-red;
}

// ___Questions

.question__index {
  color: $color-yellow;
  margin-bottom: 2rem;
}

// ___Answers

.answer {
  font-family: 'futura_lightregular';
  border: 1px solid $color-red;
  padding: 10px 20px;
  color: $color-red;
  margin-bottom: 20px;
  font-size: 14px;
  cursor: pointer;
  position: relative;
}

.button__text {
  position: relative;
  z-index: 2;
  transition: all 0.1s ease-in;
  display: inline-block;
}

.answer,
.round {
  border-radius: 25px;
}

.round {
  position: absolute;
  width: 38px;
  height: 38px;
  background-color: $color-red;
  top: 0;
  bottom: 0;
  right: 3px;
  margin: auto;
  opacity: 0;
  transition: all 300ms ease-out;
}

.answer:hover {
  color: #ffffff;
}

.answer:hover .round {
  width: calc(100% - 6px);
  opacity: 1;
}

// thanks! - https://codepen.io/lajlev/pen/diKbz

.checkmark,
.checkmark:after {
  width: 6px;
  height: 12px;
}

.checkmark {
  display: block;
  position: absolute;
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0;
  transition: all 300ms ease-out;
  transition-delay: 250ms;
  transform: translateY(10px);
  &:after{
    /*Add another block-level blank space*/
    content: '';
    display: block;
 
    /*Add a white border on the bottom and left, creating that 'L' */
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
 
    /*Rotate the L 45 degrees to turn it into a checkmark*/
    transform: rotate(45deg);
  }
}

.answer.active {
  .round {
    width: calc(100% - 6px);
    opacity: 1;
  }
  .checkmark {
    opacity: 1;
    transform: translateY(0);
  }
  .button__text {
    transform: translateX(-10px);
    opacity: 0;
    transition: all 0.3s ease-out;
    transition-delay: 325ms;
  }
}

.answer.active:hover {
  .button__text {
    transform: translateX(0);
    opacity: 1;
  }
  .checkmark {
    opacity: 0;
    transform: translateY(10px);
  }
}